.ser_head h2{
    font-weight: 700;
font-size: 40px;
margin-top: 110px;
padding-bottom: 7px;
}

.ser_head p{
    font-weight: 400;
font-size: 16px;
line-height: 27px;
padding-bottom: 12px;
}

.service_inner{
    margin-top: 30px;
    border: 0.5px solid #e3e3e3c5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.service_inner:hover{
    background-color: #fff;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
border-radius: 10px;
}

.service_inner:hover .ser_itm i{
    background-color: #5956E8;
    color: #fff;
}

.ser_itm{
    padding: 63px 48px;
}

.ser_itm i{
    color: #5956E8;
    font-size: 24px;
    padding: 16px 17px;
    border: 2px solid #5956E8;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.ser_itm h3{
    padding-top: 24px;
    padding-bottom: 8px;
    font-weight: 700;
    font-size: 25px;
}

.ser_itm p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}